<!-- password reset page -->
{% extends "base_generic.html" %}

{% block content %}
<!-- banner for the password reset page -->
<div class="short-banner registration-banner">
</div>
	<!-- page's main content -->
	<div class="content">
		{% if validlink %}
			<!--  if the link is valid, display this message and form -->
			<p class="registration-text">Please enter (and confirm) your new password.</p>
			<!-- the password reset form -->
			<form action="" method="post">
			{% csrf_token %}
					<table>
							<tr>
								<!-- new password -->
								<td>{{ form.new_password1.errors }}
										<label for="id_new_password1">New password:</label></td>
								<td>{{ form.new_password1 }}</td>
							</tr>
							<tr>
								<!-- confirm password -->
								<td>{{ form.new_password2.errors }}
										<label for="id_new_password2">Confirm password:</label></td>
								<td>{{ form.new_password2 }}</td>
							</tr>
							<tr>
								<!-- submit input -->
								<td></td>
								<td><input type="submit" value="Change my password"></td>
							</tr>
					</table>
			</form>
	<!-- if the link is invalid or the password reset failed, display these messages -->
	{% else %}
		<p class="registration-text">Password reset failed!</p>
		<p class="registration-text">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
		{% endif %}
	</div>
{% endblock %}