<!-- password reset form -->
{% extends "base_generic.html" %}

{% block content %}
<!-- banner for the password reset form -->
<div class="short-banner registration-banner">
</div>
	<!-- page's main content -->
	<div class="content">
		<!-- reset password text -->
		<p class="registration-text">Reset your password:</p>
		<!-- reset password form -->
		<form action="" method="post">
			{% csrf_token %}
			{% if form.email.errors %}
				{{ form.email.errors }}
			{% endif %}
				<p class="registration-input">{{ form.email }}</p>
				<!-- form submit button -->
				<div class="buttons">
					<input type="submit" class="btn btn-default btn-lg" value="Reset password">
				</div>
		</form>
	</div>
{% endblock %}