<!-- password reset done page -->
{% extends "base_generic.html" %}

{% block content %}
<!-- banner for the password reset done page -->
<div class="short-banner registration-banner">
</div>
	<!-- page's main content -->
	<div class="content">
		<!-- display this message for the password reset instructions -->
		<p class="registration-text">We've emailed you the instructions for setting your new password. If they haven't arrived within a few minutes, please check your spam folder.</p>
	</div>
{% endblock %}