<!-- An About Page for the company -->
{% extends "base_generic.html" %}

{% block content %}
<!-- banner for the about page -->
<div class="short-banner about-banner">
	<!-- banner text -->
	<div class="banner-text">
		<!-- page title -->
		<h1>About Us</h1>
	</div>
</div>
	<!-- page's main content -->
	<div class="content">
		<!-- about text -->
		<div class="about-text">
			<!-- this text should be justified -->
			<p class="justify-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa, socis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu pretium quis sem.</p>
			<!-- this text should be justified -->
			<p class="justify-text">Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt, cra dapibus. Vivamus elementum semper nisi.</p>
			<!-- this text should be justified -->
			<p class="justify-text">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum, aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui, etiam rhoncus, maecenas tempus. Tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar.</p>
		</div>
	</div>
{% endblock %}